<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/style.css" >
    <title>About</title>
</head>
<body>
        <% include partials/nav  %>
    <h1>this is about page</h1>
    <h1>

            <%= data1[0]%>
            <br />
            <%= data1[1] %>
            <br/>
            <%= data1[2] %>
            <hr/>
             <%= id.id %>
    </h1>
    
</body>
</html>